# SF Salaries Analysis

Basic Analysis SF Salaries Dataset on Kaggle.

In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv')

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Total entries in dataset

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Average BasePay

In [5]:
sal.BasePay.mean()

66325.44884050643

Highest amount of OvertimePay in the dataset

In [6]:
sal.OvertimePay.max()

245131.88

Job title of  JOSEPH DRISCOLL

In [16]:
sal[sal['EmployeeName'] =="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

JOSEPH DRISCOLL pay including benefits

In [17]:
sal[sal['EmployeeName'] =="JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

Name of highest paid person (including benefits)

In [28]:
sal[sal['TotalPayBenefits'] ==sal.TotalPayBenefits.max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

Name of lowest paid person (including benefits)

In [29]:
sal[sal['TotalPayBenefits'] ==sal.TotalPayBenefits.min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

The average (mean) BasePay of all employees per year (2011-2014)

In [32]:
sal.groupby('Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Unique job titles

In [33]:
sal['JobTitle'].nunique()

2159

Top 5 most common jobs

In [35]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Job Titles represented by only one person in 2014

In [43]:
sum(sal[sal['Year']==2014]['JobTitle'].value_counts()==1)

202

The word Chief in job title

In [46]:
sum(sal['JobTitle'].apply(lambda x : 'chief' in x.lower()))

627

Correlation between length of the Job Title string and Salary

In [60]:
sal['lenJobTitle'] = sal['JobTitle'].apply(len)

In [62]:
sal[['lenJobTitle','TotalPayBenefits']].corr()

                  lenJobTitle  TotalPayBenefits
lenJobTitle          1.000000         -0.036878
TotalPayBenefits    -0.036878          1.000000